<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="back.mapper.auction.AuctionMapper"> <!-- 매퍼의 네임스페이스 설정 -->

   <select id="getAuctionBoardList" parameterType="back.model.auction.Auction" resultType="back.model.auction.Auction">
	    SELECT *
	    FROM (
	        SELECT
	            ROWNUM AS RN,
	            B.*
	        FROM (
	            SELECT
	                A.AUC_ID,
	                A.AUC_TITLE,
	                A.AUC_DESCRIPTION,
	                A.AUC_CATEGORY,
	                A.AUC_STARTING_PRICE AS aucSprice,
	                A.AUC_CURRENT_PRICE AS aucCprice,
	                A.AUC_BUY_NOW_PRICE AS aucBprice,
	                A.AUC_LIKE_CNT,
	                A.AUC_MESSAGE_CNT,
	                A.AUC_DEADLINE,
	                A.CREATE_ID,
	                A.UPDATE_ID,
	                TO_CHAR(A.CREATE_DT, 'YYYY-MM-DD') AS CREATE_DT,
	                TO_CHAR(A.UPDATE_DT, 'YYYY-MM-DD') AS UPDATE_DT,
	                A.AUC_STATUS,
	                A.AUC_DEL_YN,
	                (
					  SELECT FILE_PATH
					  FROM (
					    SELECT FILE_PATH
					    FROM AUC_FILE F
					    WHERE F.AUC_ID = A.AUC_ID
					      AND F.IS_MAIN = 'Y'
					      AND F.DEL_YN = 'N'
					    ORDER BY FILE_ID
					  ) 
					  WHERE ROWNUM = 1
					) AS thumbnailUrl
	            FROM AUCTION A
	            WHERE A.AUC_DEL_YN = 'N'
	            ORDER BY ${sortField} ${sortOrder}
	        ) B
	    ) C
	</select>
	<select id="getMyAuctionBoardList" parameterType="back.model.auction.Auction" resultType="back.model.auction.Auction">
	    SELECT *
	    FROM (
	        SELECT
	            ROWNUM AS RN,
	            B.*
	        FROM (
	            SELECT
	                AUC_ID,
	                AUC_TITLE,
	                AUC_DESCRIPTION,
	                AUC_CATEGORY,
	                AUC_STARTING_PRICE AS aucSprice,
	                AUC_CURRENT_PRICE AS aucCprice,
	                AUC_BUY_NOW_PRICE AS aucBprice,
	                AUC_LIKE_CNT,
	                AUC_MESSAGE_CNT,
	                AUC_DEADLINE,
	                CREATE_ID,
	                UPDATE_ID,
	                TO_CHAR(CREATE_DT, 'YYYY-MM-DD') AS CREATE_DT,
	                TO_CHAR(UPDATE_DT, 'YYYY-MM-DD') AS UPDATE_DT,
	                AUC_STATUS,
	                AUC_DEL_YN
	            FROM AUCTION
	            WHERE AUC_DEL_YN = 'N'
	            AND CREATE_ID = #{createId}
	            ORDER BY ${sortField} ${sortOrder}
	        ) B
	    ) C
	</select>

    <select id="getMyAuctionspecialBoardList" parameterType="back.model.auction.Auction" resultType="back.model.auction.Auction">
             SELECT *
             FROM (
	             SELECT
	                ROWNUM AS RN,
			        B.AUC_ID,
			        B.AUC_TITLE,
			        B.AUC_DESCRIPTION,
			        B.AUC_CATEGORY,
			        B.AUC_STARTING_PRICE,
			        B.AUC_CURRENT_PRICE,
			        B.AUC_BUY_NOW_PRICE,
			        B.AUC_LIKE_CNT,
			        B.AUC_MESSAGE_CNT,
			        B.AUC_DEADLINE,
			        B.CREATE_ID,
			        B.UPDATE_ID,
			        B.CREATE_DT,
			        B.UPDATE_DT,
			        B.AUC_STATUS,
			        B.AUC_DEL_YN
	            FROM (
		            SELECT
				        A.AUC_ID,
				        A.AUC_TITLE,
				        A.AUC_DESCRIPTION,
				        A.AUC_CATEGORY,
				        A.AUC_STARTING_PRICE,
				        A.AUC_CURRENT_PRICE,
				        A.AUC_BUY_NOW_PRICE,
				        A.AUC_LIKE_CNT,
				        A.AUC_MESSAGE_CNT,
				        A.AUC_DEADLINE,
				        A.CREATE_ID,
				        A.UPDATE_ID,
				        TO_CHAR(A.CREATE_DT, 'YYYY-MM-DD') AS CREATE_DT,
				        TO_CHAR(A.UPDATE_DT, 'YYYY-MM-DD') AS UPDATE_DT,
				        A.AUC_STATUS,
				        A.AUC_DEL_YN 
				    FROM AUCTION A
				    
			        ORDER BY ${sortField} ${sortOrder}
			    ) B
		   	) C
		    WHERE C.RN BETWEEN #{startRow} AND #{endRow}
		    
    </select>
    
    <select id="getAuctionById" parameterType="string" resultType="back.model.auction.Auction">
	    SELECT
	        AUC_ID AS aucId,
	        AUC_TITLE AS aucTitle,
	        AUC_DESCRIPTION AS aucDescription,
	        AUC_CATEGORY AS aucCategory,
	        AUC_STARTING_PRICE AS aucSprice,
	        NVL(AUC_CURRENT_PRICE, '0') AS aucCprice,
	        AUC_BUY_NOW_PRICE AS aucBprice,
	        AUC_LIKE_CNT AS aucLikecnt,
	        AUC_MESSAGE_CNT AS aucMsgcnt,
	        AUC_DEADLINE AS aucDeadline,
	        CREATE_ID AS createId,
	        UPDATE_ID AS updateId,
	        TO_CHAR(CREATE_DT, 'YYYY-MM-DD HH24:MI:SS') AS createDt,
	        TO_CHAR(UPDATE_DT, 'YYYY-MM-DD HH24:MI:SS') AS updateDt,
	        AUC_STATUS AS aucStatus,
	        AUC_DEL_YN AS aucDelYn
	    FROM AUCTION 
	    WHERE AUC_ID = #{aucId}
	      AND AUC_DEL_YN = 'N'
	</select>
    
    
	<insert id="aucCreate" parameterType="back.model.auction.Auction">
	    INSERT INTO AUCTION 
	        (
	        AUC_ID,
	        AUC_TITLE,
	        AUC_DESCRIPTION,
	        AUC_CATEGORY,
	        AUC_STARTING_PRICE,
	        AUC_CURRENT_PRICE,
	        AUC_BUY_NOW_PRICE,
	        AUC_DEADLINE,
	        CREATE_ID,
	        CREATE_DT,
	        AUC_STATUS,
	        AUC_LIKE_CNT,
	        AUC_MESSAGE_CNT
	        )
	        VALUES 
	        (
	        SEQ_AUCTION.NEXTVAL, 
	        #{aucTitle}, 
	        #{aucDescription}, 
	        #{aucCategory}, 
	        #{aucSprice},
	        #{aucSprice},
	        #{aucBprice},
	        #{aucDeadline},
	        #{createId},
	        SYSDATE,
	        '판매대기',
	        0,
	        0
	        )
	    <selectKey keyProperty="aucId" resultType="string" order="AFTER">
	       SELECT SEQ_AUCTION.CURRVAL FROM DUAL
	    </selectKey>
	</insert>

    <update id="aucUpdate" parameterType="back.model.auction.Auction">
	  UPDATE AUCTION SET
	    AUC_TITLE = #{aucTitle},
	    AUC_DESCRIPTION = #{aucDescription},
	    AUC_CATEGORY = #{aucCategory},
	    AUC_STARTING_PRICE = #{aucSprice},
	    AUC_BUY_NOW_PRICE = #{aucBprice},
	    AUC_DEADLINE = #{aucDeadline},
	    UPDATE_ID = #{updateId},
	    UPDATE_DT = SYSDATE,
	    AUC_STATUS = '판매대기'
	  WHERE AUC_ID = #{aucId}
	</update>
	
	<update id="aucBuyNowUpdate" parameterType="back.model.auction.Auction">
	  UPDATE AUCTION SET
	    AUC_STATUS = #{aucStatus},
	    AUC_BUYER_ID = #{aucBuyerId},
	    AUC_BUY_TIME = TO_DATE(#{aucBuyTime}, 'YYYY-MM-DD HH24:MI:SS'),
	    AUC_CURRENT_PRICE = #{aucCprice},
	    UPDATE_DT = SYSDATE
	  WHERE AUC_ID = #{aucId}
	</update>
	<update id="aucBidUpdate" parameterType="back.model.auction.Auction">
	  UPDATE AUCTION SET
	    AUC_CURRENT_PRICE = #{aucCprice},
	    AUC_BID_COUNT = AUC_BID_COUNT + 1,
	    UPDATE_DT = SYSDATE
	  WHERE AUC_ID = #{aucId}
	</update>
	    
     <delete id="aucDelete" parameterType="back.model.auction.Auction">
        UPDATE AUCTION 
        SET AUC_DEL_YN = 'Y',  
            UPDATE_ID = #{updateId},  
            UPDATE_DT = SYSDATE  
        WHERE AUC_ID = #{aucId}
    </delete>
    
   <select id="getLikeStatus" parameterType="map" resultType="String">
	  SELECT AUCL_TOGGLE_YN
	  FROM AUCTION_LIKE
	  WHERE AUC_ID = #{aucId}
	    AND USER_ID = #{userId}
	</select>
	
	<insert id="insertLike" parameterType="map">
	  INSERT INTO AUCTION_LIKE 
	  (
	    AUCL_LIKE_ID, 
	    AUC_ID, 
	    USER_ID, 
	    AUCL_TOGGLE_YN
	  )
	  VALUES (
	    SEQ_AUCTION_LIKE.NEXTVAL, 
	    #{aucId}, 
	    #{userId}, 
	    #{toggleYn} 
	  )
	</insert>
	
	<update id="updateLike" parameterType="map">
	  UPDATE AUCTION_LIKE
	  SET AUCL_TOGGLE_YN = #{toggleYn}
	  WHERE AUC_ID = #{aucId}
	    AND USER_ID = #{userId}
	</update>
	
	<select id="getBidList" parameterType="string" resultType="back.model.auction.AuctionBid">
	    SELECT BID_ID, AUC_ID, USER_ID, BID_PRICE, BID_TIME, IS_WINNER
	    FROM AUCTION_BID
	    WHERE AUC_ID = #{aucId}
	    ORDER BY BID_TIME DESC
	</select>
	
	
	<!-- 용우씨꺼 -->
	<select id="getWaitingAuctionList" resultType="back.model.auction.Auction">
	  SELECT *
	  FROM AUCTION
	  WHERE AUC_STATUS = '판매대기'
	    AND AUC_DEL_YN = 'N'
	  ORDER BY CREATE_DT DESC
	</select>
	<update id="updateStatusToInProgress" parameterType="string">
	  UPDATE AUCTION
	  SET AUC_STATUS = '경매중',
	      UPDATE_DT = SYSDATE
	  WHERE AUC_ID = #{aucId}
	</update>
	
	<!-- 태훈형님꺼 -->
	<select id="getInProgressByBuyer" parameterType="string" resultType="back.model.auction.Auction">
	  SELECT *
	  FROM AUCTION
	  WHERE AUC_STATUS = '경매중'
	    AND AUC_BUYER_ID = #{userId}
	    AND AUC_DEL_YN = 'N'
	  ORDER BY CREATE_DT DESC
	</select>
	
	<select id="getInProgressByCreator" parameterType="string" resultType="back.model.auction.Auction">
	  SELECT *
	  FROM AUCTION
	  WHERE AUC_STATUS = '경매중'
	    AND CREATE_ID = #{userId}
	    AND AUC_DEL_YN = 'N'
	  ORDER BY CREATE_DT DESC
	</select>
	
	<select id="getCompletedByCreator" parameterType="string" resultType="back.model.auction.Auction">
	  SELECT *
	  FROM AUCTION
	  WHERE AUC_STATUS = '경매완료'
	    AND CREATE_ID = #{userId}
	    AND AUC_DEL_YN = 'N'
	  ORDER BY CREATE_DT DESC
	</select>
	
	<select id="getCompletedByMe" parameterType="string" resultType="back.model.auction.Auction">
	  SELECT *
	  FROM AUCTION
	  WHERE AUC_STATUS = '경매완료'
	    AND AUC_BUYER_ID = #{userId}
	    AND AUC_DEL_YN = 'N'
	  ORDER BY CREATE_DT DESC
	</select>
		     
  
	
</mapper>
