<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="back.mapper.auction.AuctionMapper"> <!-- 매퍼의 네임스페이스 설정 -->

	<!-- 경매 게시글 전체 목록 조회 -->
   <select id="getAuctionBoardList" parameterType="back.model.auction.Auction" resultType="back.model.auction.Auction">
	    SELECT *
	    FROM (
	        SELECT
	            ROWNUM AS RN,
	            B.*
	        FROM (
	            SELECT
	                A.AUC_ID,
	                A.AUC_TITLE,
	                A.AUC_DESCRIPTION,
	                A.AUC_CATEGORY,
	                A.AUC_STARTING_PRICE AS aucSprice,
	                A.AUC_CURRENT_PRICE AS aucCprice,
	                A.AUC_BUY_NOW_PRICE AS aucBprice,
	                A.AUC_LIKE_CNT,
	                A.AUC_MESSAGE_CNT,
	                A.AUC_DEADLINE,
	                A.AUC_START_DATE AS aucStartdate,
	                A.AUC_LOCATION AS aucLocation,
	                A.CREATE_ID,
	                A.UPDATE_ID,
	                TO_CHAR(A.CREATE_DT, 'YYYY-MM-DD') AS CREATE_DT,
	                TO_CHAR(A.UPDATE_DT, 'YYYY-MM-DD') AS UPDATE_DT,
	                A.AUC_STATUS,
	                A.AUC_DEL_YN,
	                (
					  SELECT FILE_ID
					  FROM (
					    SELECT FILE_ID
					    FROM AUC_FILE F
					    WHERE F.AUC_ID = A.AUC_ID
					      AND F.IS_MAIN = 'Y'
					      AND F.DEL_YN = 'N'
					    ORDER BY FILE_ID
					  )
					  WHERE ROWNUM = 1
					) AS file_id
	            FROM AUCTION A
	            WHERE A.AUC_DEL_YN = 'N'
	            ORDER BY ${sortField} ${sortOrder}
	        ) B
	    ) C
	</select>
	
	<!-- 나의 경매 게시글 목록 조회 -->
	<select id="getMyAuctionBoardList" parameterType="back.model.auction.Auction" resultType="back.model.auction.Auction">
	    SELECT *
	    FROM (
	        SELECT
	            ROWNUM AS RN,
	            B.*
	        FROM (
	            SELECT
	                AUC_ID,
	                AUC_TITLE,
	                AUC_DESCRIPTION,
	                AUC_CATEGORY,
	                AUC_STARTING_PRICE AS aucSprice,
	                AUC_CURRENT_PRICE AS aucCprice,
	                AUC_BUY_NOW_PRICE AS aucBprice,
	                AUC_LIKE_CNT,
	                AUC_MESSAGE_CNT,
	                AUC_DEADLINE,
	                A.AUC_START_DATE AS aucStartdate,
	                A.AUC_LOCATION AS aucLocation,
	                CREATE_ID,
	                UPDATE_ID,
	                TO_CHAR(CREATE_DT, 'YYYY-MM-DD') AS CREATE_DT,
	                TO_CHAR(UPDATE_DT, 'YYYY-MM-DD') AS UPDATE_DT,
	                AUC_STATUS,
	                AUC_DEL_YN
	            FROM AUCTION
	            WHERE AUC_DEL_YN = 'N'
	            AND CREATE_ID = #{createId}
	            ORDER BY ${sortField} ${sortOrder}
	        ) B
	    ) C
	</select>

	<!-- 특수 조건 경매 리스트 조회 (페이징 포함) -->
    <select id="getMyAuctionspecialBoardList" parameterType="back.model.auction.Auction" resultType="back.model.auction.Auction">
             SELECT *
             FROM (
	             SELECT
	                ROWNUM AS RN,
			        B.AUC_ID,
			        B.AUC_TITLE,
			        B.AUC_DESCRIPTION,
			        B.AUC_CATEGORY,
			        B.AUC_STARTING_PRICE,
			        B.AUC_CURRENT_PRICE,
			        B.AUC_BUY_NOW_PRICE,
			        B.AUC_LIKE_CNT,
			        B.AUC_MESSAGE_CNT,
			        B.AUC_DEADLINE,
			        B.AUC_START_DATE AS aucStartdate,
			        B.AUC_LOCATION AS aucLocation,
			        B.CREATE_ID,
			        B.UPDATE_ID,
			        B.CREATE_DT,
			        B.UPDATE_DT,
			        B.AUC_STATUS,
			        B.AUC_DEL_YN
	            FROM (
		            SELECT
				        A.AUC_ID,
				        A.AUC_TITLE,
				        A.AUC_DESCRIPTION,
				        A.AUC_CATEGORY,
				        A.AUC_STARTING_PRICE,
				        A.AUC_CURRENT_PRICE,
				        A.AUC_BUY_NOW_PRICE,
				        A.AUC_LIKE_CNT,
				        A.AUC_MESSAGE_CNT,
				        A.AUC_DEADLINE,
				        A.AUC_START_DATE,
			        	A.AUC_LOCATION,
				        A.CREATE_ID,
				        A.UPDATE_ID,
				        TO_CHAR(A.CREATE_DT, 'YYYY-MM-DD') AS CREATE_DT,
				        TO_CHAR(A.UPDATE_DT, 'YYYY-MM-DD') AS UPDATE_DT,
				        A.AUC_STATUS,
				        A.AUC_DEL_YN 
				    FROM AUCTION A
				    
			        ORDER BY ${sortField} ${sortOrder}
			    ) B
		   	) C
		    WHERE C.RN BETWEEN #{startRow} AND #{endRow}
		    
    </select>
    
    <!-- 특정 경매 ID로 상세 조회 -->
    <select id="getAuctionById" parameterType="string" resultType="back.model.auction.Auction">
	    SELECT
	        AUC_ID AS aucId,
	        AUC_TITLE AS aucTitle,
	        AUC_DESCRIPTION AS aucDescription,
	        AUC_CATEGORY AS aucCategory,
	        AUC_STARTING_PRICE AS aucSprice,
	        NVL(AUC_CURRENT_PRICE, '0') AS aucCprice,
	        AUC_BUY_NOW_PRICE AS aucBprice,
	        AUC_LIKE_CNT AS aucLikecnt,
	        AUC_MESSAGE_CNT AS aucMsgcnt,
	        AUC_DEADLINE AS aucDeadline,
	        AUC_START_DATE AS aucStartdate,
	        AUC_LOCATION AS aucLocation,
	        CREATE_ID AS createId,
	        UPDATE_ID AS updateId,
	        TO_CHAR(CREATE_DT, 'YYYY-MM-DD HH24:MI:SS') AS createDt,
	        TO_CHAR(UPDATE_DT, 'YYYY-MM-DD HH24:MI:SS') AS updateDt,
	        AUC_STATUS AS aucStatus,
	        AUC_DEL_YN AS aucDelYn
	    FROM AUCTION 
	    WHERE AUC_ID = #{aucId}
	      AND AUC_DEL_YN = 'N'
	</select>
    
    <!-- 경매 게시글 등록 -->
	<insert id="aucCreate" parameterType="back.model.auction.Auction">
	    INSERT INTO AUCTION 
	        (
	        AUC_ID,
	        AUC_TITLE,
	        AUC_DESCRIPTION,
	        AUC_CATEGORY,
	        AUC_STARTING_PRICE,
	        AUC_CURRENT_PRICE,
	        AUC_BUY_NOW_PRICE,
	        AUC_DEADLINE,
	        AUC_START_DATE,
	        AUC_LOCATION,
	        CREATE_ID,
	        CREATE_DT,
	        AUC_STATUS,
	        AUC_LIKE_CNT,
	        AUC_MESSAGE_CNT
	        )
	        VALUES 
	        (
	        SEQ_AUCTION.NEXTVAL, 
	        #{aucTitle}, 
	        #{aucDescription}, 
	        #{aucCategory}, 
	        #{aucSprice},
	        #{aucSprice},
	        #{aucBprice},
	        #{aucDeadline},
	        #{aucStartdate},
	        #{aucLocation},
	        #{createId},
	        SYSDATE,
	        '경매대기',
	        0,
	        0
	        )
	    <selectKey keyProperty="aucId" resultType="string" order="AFTER">
	       SELECT SEQ_AUCTION.CURRVAL FROM DUAL
	    </selectKey>
	</insert>

	<!-- 경매 게시글 수정 -->
    <update id="aucUpdate" parameterType="back.model.auction.Auction">
	  UPDATE AUCTION SET
	    AUC_TITLE = #{aucTitle},
	    AUC_DESCRIPTION = #{aucDescription},
	    AUC_CATEGORY = #{aucCategory},
	    AUC_STARTING_PRICE = #{aucSprice},
	    AUC_BUY_NOW_PRICE = #{aucBprice},
	    AUC_DEADLINE = #{aucDeadline},
	    AUC_START_DATE = #{aucStartdate},
	    AUC_LOCATION = #{aucLocation},
	    UPDATE_ID = #{updateId},
	    UPDATE_DT = SYSDATE,
	    AUC_STATUS = '경매대기'
	  WHERE AUC_ID = #{aucId}
	</update>
	
	<!-- 즉시 구매  -->
	<update id="aucBuyNowUpdate" parameterType="back.model.auction.Auction">
	  UPDATE AUCTION SET
	    AUC_STATUS = #{aucStatus},
	    AUC_BUYER_ID = #{aucBuyerId},
	    AUC_BUY_TIME = TO_DATE(#{aucBuyTime}, 'YYYY-MM-DD HH24:MI:SS'),
	    AUC_CURRENT_PRICE = #{aucCprice},
	    UPDATE_DT = SYSDATE
	  WHERE AUC_ID = #{aucId}
	</update>
	
	<!-- 입찰 시 현재가 + 입찰 횟수 갱신 -->
	<update id="aucBidUpdate" parameterType="back.model.auction.Auction">
	  UPDATE AUCTION SET
	    AUC_CURRENT_PRICE = #{aucCprice},
	    AUC_BID_COUNT = AUC_BID_COUNT + 1,
	    UPDATE_DT = SYSDATE
	  WHERE AUC_ID = #{aucId}
	</update>
	    
	 <!-- 게시글 삭제  -->
     <delete id="aucDelete" parameterType="back.model.auction.Auction">
        UPDATE AUCTION 
        SET AUC_DEL_YN = 'Y',  
            UPDATE_ID = #{updateId},  
            UPDATE_DT = SYSDATE  
        WHERE AUC_ID = #{aucId}
    </delete>
    
    <!-- 좋아요 상태 조회 -->
   <select id="getLikeStatus" parameterType="map" resultType="String">
	  SELECT AUCL_TOGGLE_YN
	  FROM AUCTION_LIKE
	  WHERE AUC_ID = #{aucId}
	    AND USER_ID = #{userId}
	</select>
	
	<!-- 좋아요 추가 -->
	<insert id="insertLike" parameterType="map">
	  INSERT INTO AUCTION_LIKE 
	  (
	    AUCL_LIKE_ID, 
	    AUC_ID, 
	    USER_ID, 
	    AUCL_TOGGLE_YN
	  )
	  VALUES (
	    SEQ_AUCTION_LIKE.NEXTVAL, 
	    #{aucId}, 
	    #{userId}, 
	    #{toggleYn} 
	  )
	</insert>
	
	<!-- 좋아요 토글 상태 변경 -->
	<update id="updateLike" parameterType="map">
	  UPDATE AUCTION_LIKE
	  SET AUCL_TOGGLE_YN = #{toggleYn}
	  WHERE AUC_ID = #{aucId}
	    AND USER_ID = #{userId}
	</update>
	
	<!-- 입찰 내역 조회 -->
	<select id="getBidList" parameterType="string" resultType="back.model.auction.AuctionBid">
	    SELECT BID_ID, AUC_ID, USER_ID, BID_PRICE, BID_TIME, IS_WINNER
	    FROM AUCTION_BID
	    WHERE AUC_ID = #{aucId}
	    ORDER BY BID_TIME DESC
	</select>
	
	
	<!-- 관리자: 경매대기 경매 목록 조회 -->
	<select id="getWaitingAuctionList" resultType="back.model.auction.Auction">
	  SELECT *
	  FROM AUCTION
	  WHERE AUC_STATUS = '경매대기'
	    AND AUC_DEL_YN = 'N'
	  ORDER BY CREATE_DT DESC
	</select>
	
	<!-- 관리자: 관리자 경매물품 승인 -->
	<update id="updateAuctionPermitYn" parameterType="back.model.auction.Auction">
      UPDATE AUCTION
          SET AUC_PERMIT_YN = #{aucPermitYn},
          UPDATE_ID = #{updateId},
          UPDATE_DT = SYSDATE
      WHERE AUC_ID = #{aucId}
    </update>
	
	<!-- 구매자: 내가 입찰한 경매 목록 조회 -->
	<select id="getInProgressByBuyer" parameterType="string" resultType="back.model.auction.Auction">
	  SELECT *
	  FROM AUCTION
	  WHERE AUC_STATUS = '경매중'
	    AND AUC_BUYER_ID = #{userId}
	    AND AUC_DEL_YN = 'N'
	  ORDER BY CREATE_DT DESC
	</select>
	
	<!-- 판매자: 내가 진행 중인 경매 조회 -->
	<select id="getInProgressByCreator" parameterType="string" resultType="back.model.auction.Auction">
	  SELECT *
	  FROM AUCTION
	  WHERE AUC_STATUS = '경매중'
	    AND CREATE_ID = #{userId}
	    AND AUC_DEL_YN = 'N'
	  ORDER BY CREATE_DT DESC
	</select>
	
	<!-- 판매자: 내가 판매 완료한 경매 조회 -->
	<select id="getCompletedByCreator" parameterType="string" resultType="back.model.auction.Auction">
	  SELECT *
	  FROM AUCTION
	  WHERE AUC_STATUS = '경매완료'
	    AND CREATE_ID = #{userId}
	    AND AUC_DEL_YN = 'N'
	  ORDER BY CREATE_DT DESC
	</select>
	
	<!-- 구매자: 내가 낙찰한 경매 조회 -->
	<select id="getCompletedByMe" parameterType="string" resultType="back.model.auction.Auction">
	  SELECT *
	  FROM AUCTION
	  WHERE AUC_STATUS = '경매완료'
	    AND AUC_BUYER_ID = #{userId}
	    AND AUC_DEL_YN = 'N'
	  ORDER BY CREATE_DT DESC
	</select>
	
	<!-- 조건에 맞는 경매 조회 -->
	<select id="getAuctionsToStart" resultType="back.model.auction.Auction">
	  SELECT * 
	  FROM AUCTION
	  WHERE AUC_STATUS = '경매대기'
	    AND AUC_PERMIT_YN = 'Y'
	    AND TO_CHAR(SYSDATE, 'YYYY-MM-DD') = TO_CHAR(AUC_START_DATE, 'YYYY-MM-DD')
	    AND TO_CHAR(SYSDATE, 'HH24') >= '10'
	    AND AUC_DEL_YN = 'N'
	</select>
	
	<!-- 상태를 '경매중'으로 업데이트 -->
	<update id="updateStatusToAuctioning" parameterType="string">
	  UPDATE AUCTION
	  SET AUC_STATUS = '경매중',
	      UPDATE_DT = SYSDATE
	  WHERE AUC_ID = #{aucId}
	</update>
		     
	<select id="getAuctionsToCloseByDeadline" resultType="back.model.auction.Auction">
	  SELECT * 
	  FROM AUCTION
	  WHERE AUC_STATUS = '경매중'
	    AND AUC_DEADLINE &lt;= SYSDATE
	    AND AUC_DEL_YN = 'N'
	</select>
	
	<update id="updateStatusToCompleted" parameterType="map">
	  UPDATE AUCTION
	  SET AUC_STATUS = '경매완료',
	      AUC_WINNER_ID = #{winnerId},
	      AUC_BUYER_ID = #{winnerId},
	      AUC_BUY_TIME = SYSDATE,
	      UPDATE_DT = SYSDATE
	  WHERE AUC_ID = #{aucId}
	</update>
	
	<select id="getAuctionsToCloseNoBid" resultType="back.model.auction.Auction">
	  SELECT * 
	  FROM AUCTION
	  WHERE AUC_STATUS = '경매중'
	    AND AUC_BID_COUNT = 0
	    AND AUC_DEADLINE > SYSDATE
	    AND CREATE_DT &lt;= SYSDATE - (1/24) -- 1시간 경과
	    AND AUC_DEL_YN = 'N'
	</select>
	
	<update id="closeAuction" parameterType="string">
	  UPDATE AUCTION
	  SET AUC_STATUS = '경매대기',
	      UPDATE_DT = SYSDATE
	  WHERE AUC_ID = #{aucId}
	</update>
	
	<update id="updateAuctionsToClosed">
	  UPDATE AUCTION
	  SET AUC_STATUS = '경매종료'
	  WHERE AUC_STATUS = '경매중'
	    AND TO_CHAR(SYSDATE, 'YYYY-MM-DD') = TO_CHAR(AUC_DEADLINE, 'YYYY-MM-DD')
	    AND TO_CHAR(SYSDATE, 'HH24') >= '10'
	    AND AUC_DEL_YN = 'N'
	</update>
	
	<update id="updateAuctionsInactiveForAnHour">
	  UPDATE AUCTION A
	  SET A.AUC_STATUS = '경매종료'
	  WHERE A.AUC_STATUS = '경매중'
	    AND EXISTS (
	      SELECT 1
	      FROM (
	        SELECT auc_id, MAX(bid_time) AS last_bid_time
	        FROM AUCTION_BID
	        GROUP BY auc_id
	      ) B
	      WHERE A.AUC_ID = B.AUC_ID
	        AND B.last_bid_time &lt;= SYSDATE - INTERVAL '1' HOUR
	    )
	</update>
	  
	
</mapper>
