<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="back.mapper.batch.MsgBatchMapper">

    <insert id="insertBatchLog" parameterType="back.model.vo.MsgBatchVO">
        INSERT INTO MSG_BATCH (
            MSG_JOB_ID, MSG_JOB_NAME, STATUS, START_TIME, CREATE_ID, UPDATE_ID, CREATE_DT, UPDATE_DT
        ) VALUES (
            SEQ_MSG_BATCH_JOB_ID.NEXTVAL, #{msgJobName}, #{status}, TO_DATE(#{startTime}, 'YYYY-MM-DD HH24:MI:SS'), 
            #{createId}, #{updateId}, SYSDATE, SYSDATE
        )
        </insert>

    <update id="updateBatchLog" parameterType="back.model.vo.MsgBatchVO">
        UPDATE MSG_BATCH
        SET STATUS = #{status},
            END_TIME = TO_DATE(#{endTime}, 'YYYY-MM-DD HH24:MI:SS'),
            EXIT_CODE = #{exitCode, jdbcType=VARCHAR},
            EXIT_MSG = #{exitMsg, jdbcType=VARCHAR},
            UPDATE_ID = #{updateId},
            UPDATE_DT = SYSDATE
        WHERE MSG_JOB_ID = #{msgJobId}
    </update>
    
</mapper>